
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Layout.cshtml";
}
@*F0EEED*@
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in" style="background-color:#CF1B1B">
      @*  <div class="container">
            <h2>About Us</h2>
            <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
        </div>*@
    </div>
    <!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <center>
                <h2 class="h3 mb-2 text-dark"><b>SOLUTION & SERVICE</b></h2>
                <p class="mb-4" ">
                    Focus on strategic planning and solutions. Utilizing technology to satisfy<br />
                    business needs to create efficient processes
                    <hr />
                </p>
            </center>
            <center>
                <h2 class="h3 mb-2 text-primary"><b>BUSINESS OVERVIEW</b> </h2>
                <p class="mb-4">
                    Berca Hardayaperkasa (“BHp”) is a leading information communication technology, test measurent and consulting company in<br />
                    Indonesia. We help our valued customers to drive their business growth in the era of digital transformation and industry 4.0 by<br />
                    delivering digital solutions and services which is powered by extensive ecosystems and exploit the power of hyper-converged<br />
                    infrastructure, omni-cloud, IoT/edge computing thru LoRA/4G and 5G networks, measurement and monitoring, cognitive computing<br />
                    and artificial intelligence, robotic process automation, enterprise data management and analytics, enteprise resource planning,<br />
                    business applications and other emerging technologies.<br />
                </p>
                <p class="mb-4">
                    With more than four decades of experiences serving valued customers from small business to enterprise and global customers across<br />
                    vertical industries; secured edge to cloud to core data centers across end user computing environments; from systems software to<br />
                    programming software to application software; from monolithic to micro services type of  applications across different kind of APIs;<br />
                    from capex to opex to cloud to manage operations business models.<br />
                </p>
                <p class="mb-4">
                    BHp is one of more than 60 operating companies under Central Cipta Murdaya (“CCM”) Group Corporate Management. With six pillars<br />
                    of Line of Business, which are Information Communication Technology, Property, Engineering – Construction – Manufacturing, Natural<br />
                    Resources, Heavy Equipments and Fashion Retail & Manufacturing, CCM operates in different countries like Indonesia, Singapore and<br />
                    USA, and head quarter in Jakarta, and having more than 30,000 employees.<br />
                </p>
            </center>
        </div>
        <!-- /.container-fluid -->
    </section><!-- End About Section -->
</main>